body {
  background-color: #f8f9fa;
}

.verification-card {
  background-color: #ffffff;
  border-radius: 16px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  text-align: center;
  color: #212529;
}

.verification-card:hover {
  border-color: #0d6efd;
  background-color: #e9f0ff;
  transform: translateY(-4px);
  color: #0d6efd;
}

.verification-card h4 {
  font-weight: 600;
}

.verification-card i {
  color: #0d6efd;
}
.mtxt{
  background-color: #0d6efd;
}